/* Para los tipo de letra especifico (id o etiqueta especifica)  */

*{/*Para todo el sitio*/
    font-family: "Parkinsans", sans-serif;
}
header{/*Caja q contiene las pestañas y del nombr en el encabezado */
    background-color: #e9baff;
}
header a{/*lo q esta dentro de los A en este caso 2 cajas el nombre y las pestañas*/
    color:#ef0e73;
    
}

.nav-item a{ /* Para el texto de las pestañas del footer arriba*/
    color: #f22b9c;
}
.nav-item a:hover{
    color: #8e9515;
}
#boton-perfil{ /* Para el boton de perfil el color, se hace con #*/ 
    background-color: #d2a3f8;
}
#app{/*el color de la app de script, o sea la frase*/
    color: #1285ea;
}
.boton-cv{/*este color debe convinar con el del perfil*/
    background-color: #8a9b0f;
    color: #e4e6c3;
}
.caja-habilidades{
    background-color: #762387c5;
    color: #e4e6c3;
}

.btn-proyecto{
    background-color: #ba1e4a;
}
.btn-proyecto a{
    text-decoration: none;
    color: #e4e6c3;
}
.card .card-title{
    color: #63203d;
}
#contacto{
    background-color: #1ae8d7d1;
    color: #63203d;
}
#btn-contacto{
    background-color: #f98fff;
    color: #e4e6c3;
}
#btn-contacto:hover{
    background-color: #63203d;
}

footer ul li a .bi{
    color: #ba1e4a;
}
footer p{
    color: #ba1e4a;
}
footer p a{
    text-decoration: none;
    color: #361f2d;
    
}
